stat_case_study/Untitled.ipynb
stat_case_study/.ipynb_checkpoints/stat_case_study-checkpoint.ipynb
stat_case_study/.ipynb_checkpoints/Untitled-checkpoint.ipynb
python_basics/.ipynb_checkpoints/python_basics-checkpoint.ipynb
datatypes_cycles_1/.ipynb_checkpoints/datatypes_cycles_1-checkpoint.ipynb
datatypes_cycles_2/.ipynb_checkpoints/datatypes_cycles_2-checkpoint.ipynb
visualization/.ipynb_checkpoints/visualization-checkpoint.ipynb
stat_case_study/.ipynb_checkpoints/ДЗ8 Кейс-стади-checkpoint.ipynb
statistics_basics/.ipynb_checkpoints/stat_basics-checkpoint.ipynb
