stat_case_study/Untitled.ipynb
stat_case_study/.ipynb_checkpoints/stat_case_study-checkpoint.ipynb
stat_case_study/.ipynb_checkpoints/Untitled-checkpoint.ipynb
python_basics/.ipynb_checkpoints/python_basics-checkpoint.ipynb
